[
    {:db/id #db/id[:db.part/user -1000001] :type :type/title :title/name "Pulp Fiction" :title/tmdbid "1"}
    {:db/id #db/id[:db.part/user -1000002] :type :type/title :title/name "Martian Chronicles" :title/tmdbid "2"}
    {:db/id #db/id[:db.part/user -1000003] :type :type/media :media/title #db/id[:db.part/user -1000001]}
    {:db/id #db/id[:db.part/user -1000004] :type :type/media :media/title #db/id[:db.part/user -1000001]}
    {:db/id #db/id[:db.part/user -1000005] :type :type/media :media/title #db/id[:db.part/user -1000002]}
    {:db/id #db/id[:db.part/user -1000006] :type :type/media :media/title #db/id[:db.part/user -1000002]}
    {:db/id #db/id[:db.part/user -1000007] :type :type/media :media/title #db/id[:db.part/user -1000002]}
]
